*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
body{
background-color:rgb(0, 174, 255)
}

.wrapper{
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;

}

.checkmark{
display: block;
width: 40px;
height: 40px;
background-color:rgb(255, 255, 255);
border-radius: 50%;
border: 2px solid rgb(0, 0, 0);
position: relative;
transition: .2s;
}

.checkmark::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    transform: translate(90%,10%) scale(10)rotate(45deg);
    opacity: 0;

}

#check:checked ~.checkmark{
    background-color: rgb(0, 182, 39);
    border: 2px solid white;
}
#check:checked ~ .checkmark::after{
    transform: translate(90%,10%) scale(1)rotate(405deg);
    opacity: 1;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    transition: all .4s;
}
